<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Assets/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1920, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1920, 640}}</string>
			<key>sourceSize</key>
			<string>{1920, 640}</string>
		</dict>
		<key>Assets/bear.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1717}, {161, 156}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 156}}</string>
			<key>sourceSize</key>
			<string>{161, 156}</string>
		</dict>
		<key>Assets/beararm.png</key>
		<dict>
			<key>frame</key>
			<string>{{50, 1923}, {89, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {89, 70}}</string>
			<key>sourceSize</key>
			<string>{89, 70}</string>
		</dict>
		<key>Assets/bearnoarms.png</key>
		<dict>
			<key>frame</key>
			<string>{{159, 1717}, {161, 156}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 156}}</string>
			<key>sourceSize</key>
			<string>{161, 156}</string>
		</dict>
		<key>Assets/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{188, 1285}, {334, 305}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {334, 305}}</string>
			<key>sourceSize</key>
			<string>{334, 305}</string>
		</dict>
		<key>Assets/catapult.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1285}, {430, 185}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {430, 185}}</string>
			<key>sourceSize</key>
			<string>{430, 185}</string>
		</dict>
		<key>Assets/catapultarm.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 1923}, {84, 355}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84, 355}}</string>
			<key>sourceSize</key>
			<string>{84, 355}</string>
		</dict>
		<key>Assets/flyingpenguin.png</key>
		<dict>
			<key>frame</key>
			<string>{{539, 1923}, {50, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>Assets/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1923, 1}, {1920, 122}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1920, 122}}</string>
			<key>sourceSize</key>
			<string>{1920, 122}</string>
		</dict>
		<key>Assets/longblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2020}, {183, 27}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {183, 27}}</string>
			<key>sourceSize</key>
			<string>{183, 27}</string>
		</dict>
		<key>Assets/menubackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{760, 643}, {1136, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>sourceSize</key>
			<string>{1136, 640}</string>
		</dict>
		<key>Assets/seal.png</key>
		<dict>
			<key>frame</key>
			<string>{{479, 1984}, {55, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {55, 50}}</string>
			<key>sourceSize</key>
			<string>{55, 50}</string>
		</dict>
		<key>Assets/squareblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{591, 1923}, {49, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {49, 48}}</string>
			<key>sourceSize</key>
			<string>{49, 48}</string>
		</dict>
		<key>Assets/tallblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1923}, {47, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 95}}</string>
			<key>sourceSize</key>
			<string>{47, 95}</string>
		</dict>
		<key>Assets/taperedblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{531, 1984}, {227, 54}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {227, 54}}</string>
			<key>sourceSize</key>
			<string>{227, 54}</string>
		</dict>
		<key>Assets/waitingpenguin.png</key>
		<dict>
			<key>frame</key>
			<string>{{479, 1923}, {59, 58}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {59, 58}}</string>
			<key>sourceSize</key>
			<string>{59, 58}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>Assets.png</string>
	</dict>
</dict>
</plist>
