<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Assets/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{232, 950}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/10.png</key>
		<dict>
			<key>frame</key>
			<string>{{663, 720}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/100.png</key>
		<dict>
			<key>frame</key>
			<string>{{463, 1032}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/101.png</key>
		<dict>
			<key>frame</key>
			<string>{{848, 1028}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/102.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1181}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/103.png</key>
		<dict>
			<key>frame</key>
			<string>{{1156, 1105}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/104.png</key>
		<dict>
			<key>frame</key>
			<string>{{78, 1258}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/105.png</key>
		<dict>
			<key>frame</key>
			<string>{{479, 1923}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/106.png</key>
		<dict>
			<key>frame</key>
			<string>{{1382, 1923}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/107.png</key>
		<dict>
			<key>frame</key>
			<string>{{1844, 1968}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/108.png</key>
		<dict>
			<key>frame</key>
			<string>{{817, 720}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/109.png</key>
		<dict>
			<key>frame</key>
			<string>{{414, 801}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/11.png</key>
		<dict>
			<key>frame</key>
			<string>{{771, 1105}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/110.png</key>
		<dict>
			<key>frame</key>
			<string>{{1172, 1923}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/111.png</key>
		<dict>
			<key>frame</key>
			<string>{{1767, 1968}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/112.png</key>
		<dict>
			<key>frame</key>
			<string>{{1125, 643}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/113.png</key>
		<dict>
			<key>frame</key>
			<string>{{337, 801}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/114.png</key>
		<dict>
			<key>frame</key>
			<string>{{1125, 797}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/115.png</key>
		<dict>
			<key>frame</key>
			<string>{{155, 950}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/116.png</key>
		<dict>
			<key>frame</key>
			<string>{{309, 955}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/117.png</key>
		<dict>
			<key>frame</key>
			<string>{{876, 951}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/118.png</key>
		<dict>
			<key>frame</key>
			<string>{{540, 1032}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/119.png</key>
		<dict>
			<key>frame</key>
			<string>{{1079, 1028}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/12.png</key>
		<dict>
			<key>frame</key>
			<string>{{799, 874}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/120.png</key>
		<dict>
			<key>frame</key>
			<string>{{463, 955}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/13.png</key>
		<dict>
			<key>frame</key>
			<string>{{1095, 1923}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/14.png</key>
		<dict>
			<key>frame</key>
			<string>{{232, 1104}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/15.png</key>
		<dict>
			<key>frame</key>
			<string>{{568, 801}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/16.png</key>
		<dict>
			<key>frame</key>
			<string>{{540, 1186}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/17.png</key>
		<dict>
			<key>frame</key>
			<string>{{78, 1027}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/18.png</key>
		<dict>
			<key>frame</key>
			<string>{{1382, 1781}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/19.png</key>
		<dict>
			<key>frame</key>
			<string>{{463, 1109}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{848, 1105}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/20.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1258}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/21.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1027}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/22.png</key>
		<dict>
			<key>frame</key>
			<string>{{1305, 1781}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/23.png</key>
		<dict>
			<key>frame</key>
			<string>{{386, 1109}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/24.png</key>
		<dict>
			<key>frame</key>
			<string>{{568, 878}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/25.png</key>
		<dict>
			<key>frame</key>
			<string>{{787, 1923}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/26.png</key>
		<dict>
			<key>frame</key>
			<string>{{386, 1032}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/27.png</key>
		<dict>
			<key>frame</key>
			<string>{{1048, 720}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/28.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002, 1105}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/29.png</key>
		<dict>
			<key>frame</key>
			<string>{{1030, 874}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{740, 720}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/30.png</key>
		<dict>
			<key>frame</key>
			<string>{{309, 1032}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/31.png</key>
		<dict>
			<key>frame</key>
			<string>{{971, 720}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/32.png</key>
		<dict>
			<key>frame</key>
			<string>{{617, 1182}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/33.png</key>
		<dict>
			<key>frame</key>
			<string>{{645, 951}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/34.png</key>
		<dict>
			<key>frame</key>
			<string>{{1613, 1968}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/35.png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 1028}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/36.png</key>
		<dict>
			<key>frame</key>
			<string>{{894, 797}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/37.png</key>
		<dict>
			<key>frame</key>
			<string>{{232, 1258}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/38.png</key>
		<dict>
			<key>frame</key>
			<string>{{232, 1027}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/39.png</key>
		<dict>
			<key>frame</key>
			<string>{{894, 643}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1107, 951}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/40.png</key>
		<dict>
			<key>frame</key>
			<string>{{971, 797}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/41.png</key>
		<dict>
			<key>frame</key>
			<string>{{694, 1182}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/42.png</key>
		<dict>
			<key>frame</key>
			<string>{{799, 951}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/43.png</key>
		<dict>
			<key>frame</key>
			<string>{{971, 643}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/44.png</key>
		<dict>
			<key>frame</key>
			<string>{{232, 1181}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/45.png</key>
		<dict>
			<key>frame</key>
			<string>{{78, 950}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/46.png</key>
		<dict>
			<key>frame</key>
			<string>{{864, 1923}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/47.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1104}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/48.png</key>
		<dict>
			<key>frame</key>
			<string>{{1125, 720}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/49.png</key>
		<dict>
			<key>frame</key>
			<string>{{386, 1186}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{633, 1923}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/50.png</key>
		<dict>
			<key>frame</key>
			<string>{{941, 1923}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/51.png</key>
		<dict>
			<key>frame</key>
			<string>{{78, 1104}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/52.png</key>
		<dict>
			<key>frame</key>
			<string>{{663, 797}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/53.png</key>
		<dict>
			<key>frame</key>
			<string>{{309, 1186}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/54.png</key>
		<dict>
			<key>frame</key>
			<string>{{386, 955}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/55.png</key>
		<dict>
			<key>frame</key>
			<string>{{1690, 1968}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/56.png</key>
		<dict>
			<key>frame</key>
			<string>{{617, 1105}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/57.png</key>
		<dict>
			<key>frame</key>
			<string>{{645, 874}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/58.png</key>
		<dict>
			<key>frame</key>
			<string>{{848, 1182}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/59.png</key>
		<dict>
			<key>frame</key>
			<string>{{1030, 951}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{491, 878}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/60.png</key>
		<dict>
			<key>frame</key>
			<string>{{1156, 1028}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/61.png</key>
		<dict>
			<key>frame</key>
			<string>{{1048, 797}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/62.png</key>
		<dict>
			<key>frame</key>
			<string>{{771, 1182}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/63.png</key>
		<dict>
			<key>frame</key>
			<string>{{953, 951}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/64.png</key>
		<dict>
			<key>frame</key>
			<string>{{1048, 643}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/65.png</key>
		<dict>
			<key>frame</key>
			<string>{{694, 1105}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/66.png</key>
		<dict>
			<key>frame</key>
			<string>{{876, 874}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/67.png</key>
		<dict>
			<key>frame</key>
			<string>{{1305, 1923}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/68.png</key>
		<dict>
			<key>frame</key>
			<string>{{155, 1104}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/69.png</key>
		<dict>
			<key>frame</key>
			<string>{{491, 801}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{78, 1181}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/70.png</key>
		<dict>
			<key>frame</key>
			<string>{{722, 874}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/71.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018, 1923}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/72.png</key>
		<dict>
			<key>frame</key>
			<string>{{694, 1028}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/73.png</key>
		<dict>
			<key>frame</key>
			<string>{{740, 797}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/74.png</key>
		<dict>
			<key>frame</key>
			<string>{{463, 1186}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/75.png</key>
		<dict>
			<key>frame</key>
			<string>{{540, 955}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/76.png</key>
		<dict>
			<key>frame</key>
			<string>{{1921, 1923}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/77.png</key>
		<dict>
			<key>frame</key>
			<string>{{309, 1109}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/78.png</key>
		<dict>
			<key>frame</key>
			<string>{{337, 878}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/79.png</key>
		<dict>
			<key>frame</key>
			<string>{{556, 1923}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{740, 643}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/80.png</key>
		<dict>
			<key>frame</key>
			<string>{{663, 643}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/81.png</key>
		<dict>
			<key>frame</key>
			<string>{{540, 1109}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/82.png</key>
		<dict>
			<key>frame</key>
			<string>{{414, 878}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/83.png</key>
		<dict>
			<key>frame</key>
			<string>{{710, 1923}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/84.png</key>
		<dict>
			<key>frame</key>
			<string>{{617, 1028}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/85.png</key>
		<dict>
			<key>frame</key>
			<string>{{894, 720}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/86.png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 1105}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/87.png</key>
		<dict>
			<key>frame</key>
			<string>{{953, 874}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/88.png</key>
		<dict>
			<key>frame</key>
			<string>{{1459, 1968}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/89.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002, 1028}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{722, 951}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/90.png</key>
		<dict>
			<key>frame</key>
			<string>{{1079, 1105}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/91.png</key>
		<dict>
			<key>frame</key>
			<string>{{1107, 874}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/92.png</key>
		<dict>
			<key>frame</key>
			<string>{{1536, 1968}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/93.png</key>
		<dict>
			<key>frame</key>
			<string>{{771, 1028}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/94.png</key>
		<dict>
			<key>frame</key>
			<string>{{817, 797}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/95.png</key>
		<dict>
			<key>frame</key>
			<string>{{155, 1258}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/96.png</key>
		<dict>
			<key>frame</key>
			<string>{{155, 1027}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/97.png</key>
		<dict>
			<key>frame</key>
			<string>{{817, 643}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/98.png</key>
		<dict>
			<key>frame</key>
			<string>{{155, 1181}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/99.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 950}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>Assets/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1920, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1920, 640}}</string>
			<key>sourceSize</key>
			<string>{1920, 640}</string>
		</dict>
		<key>Assets/bear.png</key>
		<dict>
			<key>frame</key>
			<string>{{337, 643}, {161, 156}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 156}}</string>
			<key>sourceSize</key>
			<string>{161, 156}</string>
		</dict>
		<key>Assets/beararm.png</key>
		<dict>
			<key>frame</key>
			<string>{{50, 1923}, {89, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {89, 70}}</string>
			<key>sourceSize</key>
			<string>{89, 70}</string>
		</dict>
		<key>Assets/bearnoarms.png</key>
		<dict>
			<key>frame</key>
			<string>{{500, 643}, {161, 156}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 156}}</string>
			<key>sourceSize</key>
			<string>{161, 156}</string>
		</dict>
		<key>Assets/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 643}, {334, 305}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {334, 305}}</string>
			<key>sourceSize</key>
			<string>{334, 305}</string>
		</dict>
		<key>Assets/catapult.png</key>
		<dict>
			<key>frame</key>
			<string>{{1459, 1781}, {430, 185}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {430, 185}}</string>
			<key>sourceSize</key>
			<string>{430, 185}</string>
		</dict>
		<key>Assets/catapultarm.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 1923}, {84, 355}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84, 355}}</string>
			<key>sourceSize</key>
			<string>{84, 355}</string>
		</dict>
		<key>Assets/flyingpenguin.png</key>
		<dict>
			<key>frame</key>
			<string>{{1184, 874}, {50, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>Assets/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1923, 1}, {1920, 122}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1920, 122}}</string>
			<key>sourceSize</key>
			<string>{1920, 122}</string>
		</dict>
		<key>Assets/longblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2020}, {183, 27}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {183, 27}}</string>
			<key>sourceSize</key>
			<string>{183, 27}</string>
		</dict>
		<key>Assets/menubackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1249, 643}, {1136, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>sourceSize</key>
			<string>{1136, 640}</string>
		</dict>
		<key>Assets/seal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1365, 1858}, {55, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {55, 50}}</string>
			<key>sourceSize</key>
			<string>{55, 50}</string>
		</dict>
		<key>Assets/squareblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1998, 1923}, {49, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {49, 48}}</string>
			<key>sourceSize</key>
			<string>{49, 48}</string>
		</dict>
		<key>Assets/tallblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1923}, {47, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 95}}</string>
			<key>sourceSize</key>
			<string>{47, 95}</string>
		</dict>
		<key>Assets/taperedblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1249, 1781}, {227, 54}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {227, 54}}</string>
			<key>sourceSize</key>
			<string>{227, 54}</string>
		</dict>
		<key>Assets/waitingpenguin.png</key>
		<dict>
			<key>frame</key>
			<string>{{1305, 1858}, {59, 58}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {59, 58}}</string>
			<key>sourceSize</key>
			<string>{59, 58}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>Assets.png</string>
	</dict>
</dict>
</plist>
